extends ../layouts/layout
block head
	script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js")
	script(src="/assets/chart.js")

block content
	div(class="page-header")
		h1= player.name

	dl(class="dl-horizontal")
		dt Points
		dd= player.points
		dt Rank
		dd= player.rank
		dt Towns
		dd= player.towns

	if player.alliance
		h2 Alliance
		dl(class="dl-horizontal")
			dt Name
			dd= player.alliance.name
			dt Rank
			dd= player.alliance.rank

	canvas(id="rank-chart", width="400", height="400")
	canvas(id="points-chart", width="400", height="400")

